# Python cache files
__pycache__/
*.py[cod]

# Logs directory
logs/

# Environment variables file
.env

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# MacOS system file
.DS_Store

# Windows system file
Thumbs.db
